[2016-07-22 11:04] v4umak opened #1 "Cannot get schema for POJO (java)"
Hello.

I'm trying to use this module with simple POJO class to futher validate with json scheme v4, but receiving exception. Similar code with jackson-module-jsonSchema works ok.

[code]
Here is my code:

[code]

[code]

[2016-07-23 10:37] mbknor commented on #1
The exception is telling you that it cannot find a method which was added in java 8.

Since this project is compiled with java 8, you must also use java8.

[2016-07-23 10:37] #1 closed

[2016-08-03 12:04] mbknor commented on #1
Added note about java 8 to README (https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/2e2dc15fdb2fb56b3d492f760fe296155a8f846c)

[2016-08-05 12:50] mbknor opened #2 "Use oneOf for Option/Optional"
When the pojo has property like this:

[code]

generate schema like this:
[code]

[2016-08-05 14:53] falco467 opened #3 "JsonFormatVisitor.format(...) not recognized"
Hi!

I see you have started to implement your own Annotations to set a "format": specifier. - The jackson JsonFormatVisitor already has a method to set the Format, with an Enum of Standard-Formats. But this seems to be currently ignored by the jsonSchema,

Example:

	new JsonSerializer< LocalDate >() {
		public void serialize( final LocalDate v, final JsonGenerator gen, final SerializerProvider sp

[2016-08-05 20:04] mbknor commented on #3
I'll look into it..

I still need a way to support custom format-strings..

E.g: To support GUIs using https://github.com/jdorn/json-editor, I need more format-options than what is specified in JsonValueFormat.

[2016-08-07 15:46] #3 closed

[2016-08-07 17:42] #2 closed

[2016-08-10 11:56] yasargil opened #4 "@JsonProperty support"
Hi

I looks like @JsonProperty is not supported. Properties annotated with it are no appearing in the schema. I need it to rename the property.

[2016-08-10 12:50] yasargil commented on #4
I did look in to the issue and found as soon as the @JsonProperty required is true the property is not added  to the schema. Probably because the overriden methods from JsonObjectFormatVisitor are not all implemented. In this case the method roperty(writer: BeanProperty) is called.

This works:
`
@NotNull
@JsonProperty(value=FileFinder.CONFIG_BASE_KEY)
private final String var;
`

This does not
`

[2016-08-10 12:53] mbknor commented on #4
Thanks a lot for the detailed info. I'll look into it.

-morten

On Wed, Aug 10, 2016, 14:50 yasargil <notifications@github.com> wrote:

[2016-08-15 08:08] #4 closed

[2016-08-23 15:34] falco467 commented on #3
The fix is working :+1:

[2016-10-04 08:54] MaximilianFranke opened #6 "The Shema Generator ignores JsonSubTypes-Infos added via JacksonMixInAnnotations"
JsonSubTypes-Infos added via JacksonMixInAnnotations ( see http://wiki.fasterxml.com/JacksonMixInAnnotations ) are ignored.

Here is my sample Code, written in Java:
[code]

Here is the output with Exception:
[code]

[2016-10-04 09:59] mbknor commented on #6
Thanks. I have not used this MixIn-approache before, but I'll see what I can do.

[2016-10-11 10:34] MaximilianFranke commented on #6
The same problem is with programmatically registered types:
`mapper.registerSubtypes(new NamedType(Dog.class, "dog"), new NamedType(Cat.class, "cat"));`

[2016-10-12 19:38] #6 closed

[2016-10-12 19:39] mbknor commented on #6
I think I've now fixed both using Mixin and registerSubtypes.. Please confirm.
If you confirm it within the hour, I'll release it to Maven Central tonight (Norwegian Time)

[2016-10-13 15:23] dts-ait opened #9 "StackOverflowError due to subclassing"
I am trying to create a schema for a base class and class extending this base class with an additional attribute. (De)serialization with Jackson works fine, but when I try to generate a schema I get a StackOverflowError.

Am I missing something / doing something illegal in my implementation or is this a bug?

### BaseClass.java
[code]

### ExtendedClass.java
[code]

### SchemaExample.java

[code]

[2016-10-13 18:02] benson-basis opened #10 "The java example doesn't compile"
generateJsonSchema requires three arguments. I don't suppose you could update the doc to show how a Java program creates a scala.Option<String>?

[2016-10-13 18:24] benson-basis commented on #10
[code]

is what it looks like, FWIW.

[2016-10-13 19:06] benson-basis opened #11 "Enums repeated over and over, any alternative?"
Is there any way to get Java enums to turn into some sort of top-level item? I get the same long enumeration over and over in the schema.

"script": {
          "type": "string",
          "enum": [
            "Dsrt",
            "Bamu",
            ...
            }
There are many items in the list, and it turns up in my schema many times.

The order is also rather randomized, FWIW.

[2016-10-14 12:57] benson-basis opened #12 "Error with acceptJsonFormatVisitor ... on Object?"
[code]

I think I know what type is really at issue, but the main question is, what should my implementation of this method do?

[2016-10-14 13:01] benson-basis commented on #12
I am now concerned that the issue is that I'm using:

@JsonSerialize(using = ToStringSerializer.class)

[2016-10-14 13:34] MaximilianFranke commented on #6
Thank you! It works fine for me!

[2016-10-14 13:44] benson-basis commented on #12
I was able to get past this by adding a getType method to VersionProperty.

[2016-10-14 13:44] #12 closed

[2016-10-14 13:47] benson-basis opened #13 "Schema mostly disappears due to polymorphism annotations"
The schema does not descend into the contents of this map; it does not include BaseAttribute and its subclasses. If the annotations are not present, then the schema includes all of that.

[code]

[2016-10-17 12:10] mbknor commented on #11
I do not know of any way to 'point' to the same enum-list many times in a schema.
If you know how, please provide me with link to docs and example-schema.

Can you be more precise about the randomized order? is it random in the generated schema?
What order would you expect? Can you create example?

[2016-10-17 12:14] mbknor commented on #9
This might have been fixed by #6  in master, but it has not been released yet.

Can you clone this repo, build it and retry and see if the same problem exists?

[2016-10-17 12:17] mbknor commented on #13
Can you place attache the follwoing, for me to be able to reproduce and find solution:

Class that has this map with annotations.
Example of how you would expect the schema to be generated.
And example json which complies both with schema and the Class.

[2016-10-17 12:30] #10 closed

[2016-10-17 20:39] mbknor commented on #9
1.0.8 has now been released and should be available in maven central soon

[2016-10-17 20:40] mbknor commented on #6
1.0.8 has now been released

[2016-10-18 13:14] dts-ait commented on #9
Great, the issue is resolved with 1.0.8 :+1:! Maybe you can use my example as test case?

[2016-10-18 17:07] #9 closed

[2016-10-20 19:38] #11 closed

[2016-10-20 19:39] mbknor commented on #13
I think it is impossible to create a json schema representing something as free as a map.

[2016-10-20 19:39] #13 closed

[2016-10-21 14:41] jmf-tls opened #14 "Wrong deserialization of (Java) List of Lists"
I have a Java class in which one of the fields (categories) is a **List\<List\<String>>**

expected output in JSON schema:
`          "categories": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
`
current output:
`          "categories": {
              "type":

[2016-10-27 20:42] #14 closed

[2016-11-11 11:08] mariusheil opened #16 "Question: Is this the right module for me?"
Hi,

I am posting this because I have been evaluating a number of JsonSchemaGenerators for Java. Yours seems to be nicely written, supports draft-v4 and uses javax Annotations together with Jackson, which is perfect. Only problem is that it was written using Scala. Yesterday I got mixed Scala and Java compilation working after crashing Eclipse for hours because of the Scala integration.
I started

[2016-11-11 11:09] mbknor commented on #16
maybe.. It depends :)

[2016-11-11 11:22] mariusheil commented on #16
ok, I updated my previous question, GitHub is a little sensitive with the Enter Key :-)

[2016-11-11 12:21] mbknor commented on #16
Even though mbknor-jackson-jsonSchema is written in scala, you do not need to use it.
Just add it as a maven-dependency to your java project and use it as described here:
https://github.com/mbknor/mbknor-jackson-jsonSchema#code---using-java

When it comes to the default value, I do not think I have implemented "extracting" default-values yet.
Please add a new issue describing the "problem" and how

[2016-11-11 12:51] mariusheil commented on #16
Thanks, yes, I added it as a Maven dependency first, but I decided that I will probably have to modify or extend some bits. I'll open a new issue.

[2016-11-11 12:51] #16 closed

[2016-11-11 12:57] mariusheil opened #17 "Please support JsonSchema "default" values"
JsonSchema mentions the usage of the default keyword in this chapter:
http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.2

This means that a Java class like this:
[code]
Should translate to the following Schema:
[code]

The Json Schema Editor from the readme supports default values and these will make it very easy to supply some pre-filled data into forms.

This will also mea

[2016-11-11 21:55] #17 closed

[2016-11-11 22:00] mbknor opened #18 "Build for Scala 2.12"

[2016-11-11 22:59] mbknor commented on #18
fixed in https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/ee128ccdbd0ff43073333e6395edfc407bd496bf

[2016-11-11 22:59] #18 closed

[2016-11-14 14:54] pavelfomin opened #19 ""format": "date" is used for java.time.LocalDate"
For a field with type `java.time.LocalDate` a corresponding schema definition is generated as
[code]
I like that `date` and `date-time` are treated differently but, unfortunately, `"format": "date"` is not listed as a [defined format of the json schema](http://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3), only `date-time` is. As a result, per json schema spec, `If the type o

[2016-11-14 21:46] mbknor commented on #19
Hi,

First of all; Thanks for your interest in this project.

I'm not sure how to handle your request.
If you don't focus on the json-schema-spec, then "date" is a more correct representation of "LocalDate". "date-time" says that it also should include the time-part.

When using https://github.com/jdorn/json-editor#format to generate gui, then "date" correctly maps to the html5-date-picker.

One I

[2016-11-15 13:14] pavelfomin commented on #19
External mapping configuration for types would be great to have! Thanks for looking into this!

[2016-11-15 21:19] #19 closed

[2016-11-16 13:16] pavelfomin commented on #19
Awesome! Thanks for adding this.

[2016-11-22 11:08] mariusheil opened #20 "Question: Is is possible to have sub-objects without $ref?"
Hi,

just a short question because I wasn't able to find out if the generator is configurable to support including objects without using definitions and $ref.
Because I am trying to integrate it with angular-schema-form which currently does not support $ref and definitions.

[2016-11-23 18:27] roee88 opened #21 "Preserve Enum values order"
The order of enum values is not preserved, due to the use of a set in the implementation.

Note that com.fasterxml.jackson.module.jsonSchema keeps the order intact, which is useful for enums representing days, months, etc.

[2016-11-24 07:56] mbknor commented on #20
I do not thing this is supported

[2016-11-24 07:56] #20 closed

[2016-11-24 21:16] mbknor commented on #21
I've tested this and it looks like it is preserving the order.

When generating schema for this enum:
`
public enum MyEnum {
    C,B,A
}
`
We get this schema:

`
    "myEnum" : {
      "type" : "string",
      "enum" : [ "C", "B", "A" ]
    }
`

[2016-11-26 16:54] roee88 commented on #21
I generated a schema for a class holding a org.threeten.bp.Month (I believe it will be the save with the java8 Month as well). The order was not preserved. I changed asSet to asArray to fix that.

[2016-11-29 18:27] ratulm opened #22 "@JsonPropertyDescription is not implemented?"
It appears that @JsonPropertDescription is not implemented?

I have this class:
   public class Shape {
      @JsonPropertyDescription("this is name")
      public String name;
   }

The output of jackson-modeule-jsonSchema:
{
  "type" : "object",
  "id" : "urn:jsonschema:org:batfish:client:Client:Shape",
  "properties" : {
    "name" : {
      "type" : "string",
      "description" : "this is nam

[2016-11-29 18:32] mbknor commented on #22
I did not know of that one :)

Instead I've added my own @JsonSchemaDescription and @JsonSchemaTitle.

But it sure looks like @JsonPropertDescription should also be supported.

Can you work with the two other already implemented annotations for now?

[2016-11-29 18:53] ratulm commented on #22
ok, will do. thanks.

two questions:
 1) what is the difference between @JsonSchemaDescription and @JsonSchemaTitle?
 2) i annotated a class with @JsonSchemaTitle  but still get its title field as null. is that expected?

[2016-11-29 19:01] mbknor commented on #22
Both @JsonSchemaDescription and @JsonSchemaTitle can be annotated on both classes and properties.

This is tested in this test: https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/test/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGeneratorTest.scala#L508

It produces the following schema:
[code]

[2016-11-29 19:02] mbknor commented on #21
If you can provide example code that show this problem, I'll reopen the ticket

[2016-11-29 21:35] #22 closed

[2016-11-29 23:55] ratulm opened #23 "Handling Maps"
I have the following simple classes. The top-level class has a Map of another class.

[code]

Information about the internal class completely disappears with mbknor-jackson-jsonSchema:
[code]

The jackson-module-jsonScheme produces this instead:
[code]

Is there an easy fix to this issue?

PS: Lists are being correctly handled.

[2016-11-30 10:12] roee88 commented on #21
Try the following:
[code]

It outputs
[code]

[2016-11-30 10:20] mbknor commented on #21
Thanks. I'll look into it

[2016-11-30 10:25] mbknor commented on #23
I'm not sure how a schema describing something as general as a Map to look like.

Can you suggest what you expect the generated schema to look like?

[2016-11-30 17:05] ratulm commented on #23
Is the answer clear to you if the key in the map is a string?

(I am looking at what folks recommend; the answer seems to be some encoding using additionalProperties or patternProperties.)

[2016-11-30 17:12] mbknor commented on #23
Since I do not have any specific usecase for this, I think you have to propose something concrete and see how it complies with the Draft 4 spec.

[2016-11-30 20:58] joshbthomp opened #24 "Possible bug with using same class in multiple parents"
Hi,
I am running into an issue where I am using the same class in two different objects which both subclass a parent abstract class (see error below)  I have created a full working example in Java that can be found [here](https://github.com/joshbthomp/JsonSchemaGeneratorBugTest).  The code can be ran from the main method in SchemaGenerator.java.  It may be something simple like a missing annotatio

[2016-11-30 23:22] #21 closed

[2016-11-30 23:49] mbknor commented on #24
Thanks for supplying https://github.com/joshbthomp/JsonSchemaGeneratorBugTest - I've added it as testcase  - failing for the time being..

I'll look into it.

[2016-12-01 03:00] ratulm commented on #23
For the class structure above, the following will be ideal (for me):

     {
       "$schema" : "http://json-schema.org/draft-04/schema#",
       "title" : "Shape",
       "type" : "object",
       "additionalProperties" : false,
       "properties" : {
         "colors" : {
           "description" : "hola hola",
           "additionalProperties" : {
             "type" : "object",
             "

[2016-12-01 12:41] mbknor commented on #23
Looks like you're correct.

From http://json-schema.org/latest/json-schema-validation.html#rfc.section.5.18

I'll give it a try. Thanks for the research

[2016-12-01 13:21] joshbthomp commented on #24
Sounds good!  I'll be looking forward to your next release :-)

[2016-12-01 18:16] ratulm commented on #23
Perfect, thanks. Happy to help test on my (much more complex) class structures when you have something that I can test drive.

[2016-12-02 21:59] mbknor commented on #24
@joshbthomp It should work now. Please try it out by building it yourself

[2016-12-04 00:15] roee88 commented on #24
@mbknor
Did you miss a commit? code refers to pushWorkInProgress which does not exist (but pushq does).
Also, should the stack only be used there? e.g., what if the property is of type Optional?
Thanks.

[2016-12-04 07:56] mbknor commented on #24
Looks like there was a typo in the last commit. This is fixed now.

I just now also noticed tha push/pop should laso be used one more place. Not sure if this is what you refere to with 'type Optional'

[2016-12-04 21:24] mbknor commented on #23
I've implemented improved support for maps which I think results in the jsonSchema you describe.
Please test it out.

[2016-12-04 21:58] mbknor opened #25 "Publish snapshot to sonatype after each successfull travis build"

[2016-12-05 01:34] ratulm commented on #23
Thanks!

This is working, except for one issue. The schema that is produced has an extra "type" : "object" for "colors":

       [....]
       "properties" : {
         "colors" : {
           "type" : "object",            <<<< this one
           "additionalProperties" : {
       [....]

I am not sure if that is necessary, but it is confusing tools that I use to visualize the schema (docson). Wou

[2016-12-05 01:48] ratulm opened #26 "Improved "location-info" in error messages"
When using the module on a complex set of classes, I get the following exception/warning messages:

        java.lang.Exception: We only support polymorphism using jsonTypeInfo.use == JsonTypeInfo.Id.NAME

        [main] WARN com.kjetland.jackson.jsonSchema.JsonSchemaGenerator - Not able to generate jsonSchema-info for type: [simple type, class java.lang.Object] - probably using custom serializer

[2016-12-05 02:50] ratulm opened #27 "Add support for JsonTypeInfo.Id.CLASS"
The code currently supports only JsonTypeInfo.Id.NAME

        if ( jsonTypeInfo.use != JsonTypeInfo.Id.NAME) throw new Exception("We only support polymorphism using jsonTypeInfo.use == JsonTypeInfo.Id.NAME")

I have classes that use JsonTypeInfo.Id.CLASS and running the code on them after commenting the line above seems to do the right thing.

Why does the requirement exist and can it be loosened

[2016-12-06 19:15] ratulm opened #28 "Inlining abstract classes"
Hi, I have an inter-linked class structure, the essence of which can be captured as the following:

        public class SchemaTest {
           public List<Parent> parents;
        }

        @JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, include = JsonTypeInfo.As.PROPERTY, property = "class")
        @JsonSubTypes({
           @JsonSubTypes.Type(value = Child1.class),
           @JsonSubTypes.Type(v

[2016-12-06 19:31] ratulm commented on #26
The pull request fixes the first type of error message. I am not sure what to do about the second one. I've seen it occur when a class is empty (no properties).

[2016-12-06 22:21] ratulm commented on #27
I submitted a pull request for this. I hope this fix works. Let me know if you'd some modifications.

[2016-12-09 02:33] ratulm commented on #28
For a real-world example, see http://intentionet.github.io/batfish/docson/#../datamodel.json. The relevant part is routingPolicies --> expand "Statement" --> expand "If" which nicely shows that If contains Statement.

I got this by modifying expectObjectFormat. The changes are committed to branch noAbstractInline of my fork. I didn't issue a pull requests because it breaks some tests, and I don't

[2016-12-11 21:13] mbknor commented on #28
I'm not sure but I might think that what you suggests is an improvement :)
I'll look into it.

[2016-12-11 21:15] mbknor commented on #27
Since the current codebase only explicit supports JsonTypeInfo.Id.NAME, I've added the exception to make clear that other jsonTypeInfo.use are not supported.

I'll look into adding support for JsonTypeInfo.Id.CLASS

[2016-12-11 21:21] mbknor commented on #26
A better way would be to "keep track of" the "path", so that when an error occures, we can include that the error happend on "/propertyA/propertyB/"

[2016-12-12 19:01] ratulm commented on #23
@mbknor Any thoughts on this front? Perhaps the note got buried because the issue was closed. (And thanks for replies on the other issues.)

[2016-12-12 19:07] mbknor commented on #23
I'll give it another look

[2016-12-12 19:12] ratulm commented on #23
Thanks! In case it helps, my pull request had the minor edits needed for this change.

[2016-12-31 05:25] kog opened #30 "Improve null handling for non-primitive/non-optional types"
Expand the support that issue #2 added for optional/option types, and allow any property that satisfies the following requirements to be nullable:

- Is not a primitive class
- Is not marked as `@NotNull`
- Does not have a `@JsonProperty` with the `required` parameter set

The output should match that of optional classes: a oneOf array consisting of a null type, as well as the "real" expected type

[2017-01-02 10:54] #30 closed

[2017-01-18 14:39] awanczowski opened #32 "Joda DateTime Parsing."
Hello,

 I just started using your plugin and was wondering how I can get a Joda DateTime object to come out as `"type" : "string"` and `"format": "date-time"`  I created a test config in java.

[code]

Thanks
Drew

[2017-01-18 17:53] mbknor commented on #32
Your example looks like it should work. Does it not?

This is the current default mapping - if using html5EnabledSchema:

[code]

Joda DateTime should probably be added to that list.

[2017-01-18 19:06] awanczowski commented on #32
Hi,

Thanks fro the quick response. It does work appropriately I am actually looking something a bit simpler for the serialization. Our JSON response just outputs ISO timestamps `2017-01-18T19:05:29+00:00`. While the JODA DateTime has many parts.

Simple Format:
[code]

Full Serialization:
[code]

[2017-01-18 19:16] mbknor commented on #32
Looks like you have not loaded the JodaModule into the objectmapper. If
this is not done, then jackson does not know that joda DateTime has
anyghing to do with dates.

On Wed, Jan 18, 2017, 20:06 Andrew Wanczowski <notifications@github.com>
wrote:

[2017-01-18 20:02] awanczowski commented on #32
You are right, works well now. I forgot to add that line.  Thanks again.

[2017-01-18 20:02] #32 closed

[2017-01-19 16:04] awanczowski opened #33 "Pattern Property Support"
Hello,

I have a use case for supporting pattern properties in JSON schema. I am trying to achieve a Language Map similar to the one specified here https://www.w3.org/TR/json-ld/#language-maps.

Example:
[code]

The idea is to support dynamic keys in the object but the type is always a string.
[code]

The underlying data structure would be a `Map<Locale, String>`.  I started creating a custom obje

[2017-01-19 16:19] mbknor commented on #33
I am not sure I understand your question.

Can you show me an example of the class your generating schema for, how the generated schema looks like, and what you want it to look like.

[2017-01-19 16:27] awanczowski commented on #33
Sure, The idea is to have a JSON structure that uses BCP47 language codes as the keys from the java.util.Locale object and text in the corresponding language.

Domain Model
[code]
Serializer:
[code]

Sample JSON:
[code]

Sample Schema:
[code]

[2017-01-21 20:56] mbknor commented on #33
I've been thinking about adding a new annotation called @JsonSchemaInject
which could be used to include "whatever" json into the generated schema.

With this annotation, you should be able to inject the following fragment in the schema all places it encounters your LanguageMap-class if it is annotated with  @JsonSchemaInject:

[code]

Would this work for you?

I guess it would be better to have "

[2017-01-21 21:00] awanczowski commented on #33
I think that would work. Thanks for looking into this.

[2017-01-22 09:21] #33 closed

[2017-01-22 15:38] mbknor commented on #33
Version 1.0.16 has been released

[2017-01-22 15:40] mbknor commented on #23
I do not have a proper fix for this yet, but you might take a look at the new annotation @JsonSchemaInject which is included in the new 1.0.16-release. Maybe it can work as a workaround for you.

[2017-02-06 23:02] grkosick opened #35 "All class hierarchy properties are pushed down to the child"
I have the following class hierarchy:

`public abstract class ClassHierarchy {

    @JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.PROPERTY, property = "type")
    @JsonSubTypes({
            @JsonSubTypes.Type(value = Parent1.class, name = "Parent 1"),
            @JsonSubTypes.Type(value = Parent2.class, name = "Parent 2")
    })
    public static class AbstractParent {

[2017-02-08 11:04] andrii-NIX commented on #27
Hi,

Could you please also add support for `JsonTypeInfo.As.EXISTING_PROPERTY`?

Currently Spring DataRest doesn't support `JsonTypeInfo.As.PROPERTY`, as a workaround custom field could be created.
But if using it with together with PROPERTY then two "type" fields are generated when serializing with ObjectMapper, so having EXISTING_PROPERTY will solve the issue.

Thanks.

[2017-02-09 00:06] mbknor opened #36 "support JsonTypeInfo.As.EXISTING_PROPERTY"
From @andrii-NIX originally posted on #27:

Hi,

Could you please also add support for JsonTypeInfo.As.EXISTING_PROPERTY?

Currently Spring DataRest doesn't support JsonTypeInfo.As.PROPERTY, as a workaround custom field could be created.
But if using it with together with PROPERTY then two "type" fields are generated when serializing with ObjectMapper, so having EXISTING_PROPERTY will solve the is

[2017-02-09 00:07] mbknor commented on #27
@andrii-NIX : I've created a seperate ticket for EXISTING_PROPERTY: #36

[2017-02-09 00:13] mbknor commented on #27
Fixed in https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/de5425e8de104d653b5113431cbd75458fb4cfc2

[2017-02-09 00:13] #27 closed

[2017-02-09 00:33] mbknor commented on #36
@andrii-NIX: I think I've fixed the problem with JsonTypeInfo.As.EXISTING_PROPERTY. Could you be so kind to test it, or even better: Help me create test-case-classes using EXISTING_PROPERTY ala this existing test-case-data: https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/test/scala/com/kjetland/jackson/jsonSchema/testData/polymorphism1/Parent.java

[2017-02-09 00:39] mbknor commented on #27
This fix has just been released in version 1.0.18 which now is on the way to the public sonatype repo

[2017-02-09 00:40] mbknor commented on #36
The maybe-fix is included in version 1.0.18 which now is on the way to the public sonatype repo

[2017-02-09 10:18] andrii-NIX commented on #36
Hi, thanks for the fast reaction. I've added test case, please check #37

[2017-02-09 17:50] mbknor commented on #36
Fixed in 1.0.18

[2017-02-09 17:50] #36 closed

[2017-02-09 17:55] mbknor commented on #35
hi,

I'm not sure I understand your problem. Could you please show me how you would expect/like the generated schema to look like?

[2017-02-10 06:56] ratulm commented on #27
Thanks! I'll give it a try soon.

[2017-02-15 19:15] DALDEI opened #39 "Java Generics parameterized classes are defined as one."
Definately an edge case ... but it is possible I belive.

I have a class like this:

class Config<T extends Enum> {
  T type;
  Integer iCommon;
 String  sCommon;
};

class MyConfig {
   Config<EnumA>  aConfig;
  Config<EnumB>  bConfig;
..
}

( plus all the normal annoations )

THe result is a schema that defines aConfig, bConfig ... as identical,

    "aConfig" : { "$ref" : '#/definitions/Config'

[2017-02-15 19:48] mbknor commented on #39
Hi,

I'm not completely following this..

I think you have to show the "problem" with:

- complete class-declarations
- example of generated schema
- suggestions about what is wrong with the generated schema

-Morten

[2017-03-14 11:53] mbknor opened #40 "org.reflections initialization is very slow if many classes are loaded"

[2017-04-28 10:54] RobBrazier opened #43 "JsonTypeInfo WRAPPER_OBJECT support"
Would it be possible to support JsonTypeInfo.WRAPPER_OBJECT?

I've mocked up a sample object and schema of what it could look like below.

Are there any reasons to why you didn't originally implement support for WRAPPER_OBJECT, or was it just because there seems to be quite a bit more to do compared with PROPERTY and EXTERNAL_PROPERTY?

I'm happy to have a look into this if there are no objections

[2017-04-28 12:18] mbknor commented on #43
The reason for not implementing support for it, is because I have not used it before.

Can you also add example Java or Scala source using this annotation going along with your example?

-Morten

[2017-04-28 13:35] RobBrazier commented on #43
I actually got the schemas wrong in the original description.

Updated Schemas and classes (there are multiple ways to wrap the object, depending on where the annotation is):
Single class: https://gist.github.com/RobBrazier/dfec17fc2418c6390e5e3968f6ea4f65

Multiple classes (on abstract class/interface): https://gist.github.com/RobBrazier/dfec17fc2418c6390e5e3968f6ea4f65

Unfortunately I couldn't

[2017-04-28 20:59] mbknor commented on #43
Thanks..

I now understand what you need.
For the time being, I am not going to spend time to implement this, but feel free to send PR.
If you do so, I think it would be more easy to integrate it if you do not use the "PersonWrapper -> Person"-apporach.

I think it is more easy to kind of inject the PerseonWrapper-structure "inline".. Just an idea.

[2017-05-08 12:56] mbknor commented on #40
There exists a pr touching this issue: #44

[2017-05-13 11:42] #40 closed

[2017-06-05 19:02] mafavale opened #45 "Add enumClass for Enum attribute types"
I need to have the associated enum class for enum values, not just the values of the enum.
Let's suppose i have this:

[code]

The JSON Schema resulting on this would be:

[code]
I would like to have this result instead:
[code]
Is there any configuration i have missing to do this or workaround i can do?

Thank you.

[2017-06-05 19:41] mbknor commented on #45
Since what you're asking for is not standard Json-Schema-syntax, I guess the easiest way to achieve it is using the JsonSchemaInject-annotation.

Something like this:

[code]

Would that work for you?

[2017-06-05 20:41] mafavale commented on #45
Thanks for the quick response!

Yes, that works, although, it would be much better if i can inject that at a class level (or in an enum level in this case) because i have a lot of classes with enum attributes and it would save a lot of time and code, i tried it but that doesn't work. I see that the annotation JsonTypeInject supports Type, but i can't figure out how to make it work.

[2017-06-06 19:42] mbknor commented on #45
I had a quick look at the code and it looks like it could work to add the functionality you ask for in the following method:

https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L330

The param _type: JavaType will be the enum type and we could look for JsonTypeInject-annotation on it..

I'll have a look at it whe

[2017-06-06 20:06] #45 closed

[2017-06-06 20:08] mbknor commented on #45
Fixed in "Now also finding @JsonSchemaInject-annotation on Enum-types (Fix #45)" (https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/e62084a17c7c16d31f7e5bf2c3942a2047459d1f)

[2017-06-06 20:14] mbknor commented on #45
Version 1.0.23 has been released and is on its way to a maven repo near you :)

[2017-06-06 20:15] mbknor commented on #39
Closing due to lack of more info from issue-author

[2017-06-06 20:15] #39 closed

[2017-06-06 20:15] mafavale commented on #45
Wow, that's great! Thanks a lot!

[2017-06-06 20:15] mbknor commented on #35
Closing due to lack of more info from issue author

[2017-06-06 20:15] #35 closed

[2017-06-09 12:20] tomashaber commented on #39
Hi,

I think I have a similar issue as @DALDEI
I want to generate a JSON schema for the Value class below

[code]
If I generated a schema from this, it would contain only one definition of a Box schema and this schema would only permit a Box with a String value.

What I would expect is to have two schemas for the Box class, one for a Box with String and one for a Box with an Integer.
I resolved th

[2017-06-13 15:47] jordihs opened #46 "JSON Views support (workaround in description)"
Just started to use this project and I could not find an explicit way to use views when generating a schema.
i.e. @JsonView(Views.MyView.class)
This is most helpful for an API for internal/external clients that will receive different outputs out of the same class, by calling different service endpoints.
So if I could use this feature I would be able to distribute different schemas out of a single

[2017-06-14 08:51] jekkel opened #47 "Support JavaType in addition to Class<?> for generateJsonSchema"
Currently only `Class<?>` is supported as argument to the schema generator. Internally I saw it's delegated eventually to jackson as `JavaType`. Directly providing an overload for generation of the schema of a `JavaType` would allow schema generation for generic classes (`ParameterizedType`).

[2017-06-14 20:36] mbknor commented on #46
Ahh.. Thanks a lot!
This should definitely be added to the docs.

If you want some github-pullrequest-experience, feel free to add it for me :)

[2017-06-14 21:11] #47 closed

[2017-06-14 21:37] jekkel commented on #47
Wow that was fast!

[2017-06-15 06:42] mbknor commented on #47
Fix included in version 1.0.24 which I released yesterday evening (Norway time)

[2017-06-15 12:46] jordihs commented on #46
Done, pull request underway. Hope the style is to your liking. Do review the Scala sample since I'm quite a noob in that language...

[2017-06-15 12:48] #46 closed

[2017-07-06 14:15] here-shaunak opened #49 "Not able to run with scala version 2.11.8 & 2.10.6"
I tried for both & in both showing the following exception:

[code]

So basically how can this be resolved?

Thanks in advance ....

[2017-07-06 14:29] #49 closed

[2017-10-18 11:08] jekkel commented on #23
I can image #50 might solve this issue. @ratulm Can you check?

[2017-10-21 07:50] mbknor commented on #23
I assume this issue has been fixed by #50, at least for now..

[2017-10-21 07:50] #23 closed

[2017-10-25 02:04] nemonik opened #51 "What of anyOf and allOf JSON Schema features?"
I see support for oneOf, but what of `anyOf` and `allOf` draft 4 constructs?

[2017-10-25 06:01] mbknor commented on #51
Hi.

I'm not sure anyOf would work in context of deserializing it into Java/Scala classes.
Same goes with allOf.

Please enlighten me

[2017-10-31 14:53] mattdehring opened #52 "Not correctly resolving subTypeName for polymorphism if not using @JsonTypeName"
I am using these settings on my base class:
`@JsonTypeInfo(include=JsonTypeInfo.As.PROPERTY, use=JsonTypeInfo.Id.NAME,property="type")`

I am getting this returned as the properties if I don't set a `@JsonTypeName`:
`"properties" : {
        "type" : {
          "type" : "string",
          "enum" : [ null ],
          "default" : null,
          "options" : {
            "hidden" : true

[2017-10-31 21:17] mbknor commented on #52
To figure this out, you have to show which classes you have and how they extend each other.

I also need the complete generated schema.

I guess it would be better if you created a test-case showing the problem.

[2017-12-28 08:49] kog opened #53 "Upgrade javax.validation to 2.0+"
[JSR-380](https://www.jcp.org/en/jsr/detail?id=380) (Bean Validation 2.0) went live in August 2017, and contains a number of useful validation annotations. A human-readable summary of what's new is available at [beanvalidation.org](http://beanvalidation.org/news/2017/08/07/bean-validation-2-0-is-a-spec/).

I'm using some of these annotations (particularly `@NotBlank` and `@NotEmpty`) for my domain

[2018-01-02 08:32] mbknor commented on #53
thanks.

I've been on holiday but will take a look at this soon.

-Morten

[2018-01-02 10:03] kog commented on #53
Yeah, figured you were probably out having a life as all people should.

I've got a PR at https://github.com/mbknor/mbknor-jackson-jsonSchema/pull/54 and can get some of those annotations going if anyone else is interested. Do let me know if I can provide any details.

[2018-01-03 22:01] #53 closed

[2018-01-03 22:14] mbknor commented on #53
Version 1.0.26 is released and on its way to maven central

[2018-01-04 11:08] kog opened #55 "Add support for @NotBlank annotation"
Looking at the [Bean Validation spec](http://beanvalidation.org/2.0/spec/#builtinconstraints-notblank), `@NotBlank` states:

[code]

It looks like a schema for a String property marked as `@NotBlank` would:

- Mark the property as [required ](https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.3)
- Have both a [minLength](https://tools.ietf.org/html/draft-fge-json-schema-va

[2018-01-04 11:19] kog opened #56 "Add support for @NotEmpty annotation"
Looking at the [Bean Validation spec](http://beanvalidation.org/2.0/spec/#builtinconstraints-notempty), `@NotEmpty` states:

[code]

It looks like this would affect JSON Strings, Objects, and Arrays:

- The property should be marked as [required](https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.3)
- For Strings, a [minLength](https://tools.ietf.org/html/draft-fge-json-sc

[2018-01-04 11:20] kog commented on #55
I've got a bit of prototypical code for this that I'll get going into a PR from my forked repo soon (hopefully this weekend?).

[2018-01-04 11:20] kog commented on #56
I've got a bit of prototypical code for this that I'll get going into a PR from my forked repo soon (hopefully this weekend?).

[2018-01-07 18:22] Mart-Bogdan opened #57 "additionalProperties not supported"
I have my POJO with annotations:
[code]
Genrated JSON-Schema has: `"additionalProperties":false`  instead of true :-(

[2018-01-08 21:08] mbknor commented on #57
When using @JsonAnyGetter/@JsonAnySetter, it impossible for Jackson (and mbknor-jackson-jsonSchema) to know what dataTypes you're accepting.

You could try to override the "additionalProperties"-flag using @JsonSchemaInject, or you could try top create a pull-request with the logic of setting additionalProperties = true, when @JsonAnySetter is used

[2018-01-08 21:09] mbknor commented on #56
Looking forward to it getting the PR :)

[2018-01-08 21:11] mbknor commented on #52
Since @mattdehring  is not supplying more info, I'm closing this issue for now. I'll re-open it if more info is supplied

[2018-01-08 21:11] #52 closed

[2018-01-08 21:12] mbknor commented on #51
Closing this (for now) due to lack of more info.

[2018-01-08 21:12] #51 closed

[2018-01-08 21:13] mbknor commented on #43
Closing this issue due to lack of feedback from @RobBrazier

[2018-01-08 21:13] #43 closed

[2018-01-08 21:13] mbknor commented on #26
Closing issue due to lack of feedback/intereset

[2018-01-08 21:13] #26 closed

[2018-01-08 21:14] mbknor commented on #25
Closing this issue: Not needed since I usually create a new release after useful changes.

[2018-01-08 21:14] #25 closed

[2018-01-08 21:15] mbknor commented on #28
Closing issue due to lack of interest

[2018-01-08 21:15] #28 closed

[2018-01-09 00:23] mbap opened #58 "Properties in object constructor are required."
JSON object properties which are not required are being set as required when setting those values in that objects constructor.

[code]

Then in my schema I see:

[code]
This is trouble for me since I never specified.
[code]
and even when I say
[code]
it shows up as required anyway.

[2018-01-09 02:43] kog commented on #56
Yeah, sorry, it turns out my Scala is not as great as it could be. I've got `@NotBlank` going first and am just refactoring things. I can submit it for a pull request if you'd like to suggest some stuff ;)

[2018-01-09 07:38] mbknor commented on #58
hmm... that sounds strange.

Maybe you can try to override it using @JsonSchemaInject

[2018-01-09 08:01] Mart-Bogdan commented on #57
you mean for `patternProperties` ?

[2018-01-09 09:04] mbknor commented on #57
I mean that you can try to force the flag to be set to true like this:

[code]

[2018-01-10 00:43] mbap commented on #58
Ok, I can give that a try. My only worry is that its a bit hacky hah, kinda defeats the purpose of having `@JsonProperty(required=true)`. I will take a look at the source when I get a change to see if I spot anything that could be doing it. Otherwise I may just have to remove those constructors.

[2018-01-10 08:28] kog commented on #58
@mbap - are the actual types for your `field1` and `field2` primitive types (IE: int)? I wasn't able to reproduce required attributes with the class you list above, instead I get a schema that looks like:

[code]

which is what I'd expect from the code that does this: https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/7a4ebe9e91431f69f371749d11889e42d1247095/src/main/scala/com/kjetland/jacks

[2018-01-10 20:58] #55 closed

[2018-01-11 01:58] mbap commented on #58
Sorry, yes they are primitive. That was a total oversight on my part apologies. I suppose one solution I can try is to use primative object wrapper classes.

Haven't had much time for testing this but I will try asap. Thanks again for the responses.

[2018-01-11 06:31] mbknor commented on #58
Thanks @kog for spotting thing explanation.

@mbap: Since you are using Jackson and Java with primitives, your code cannot know if field1 (int) was set to "0" in json or if it was not included in json at all.
If you need that sort of info, then field1 must be Integer.
It makes no point in setting a field 'not required', if your code cannot know if you got it or not.

[2018-01-11 06:31] #58 closed

[2018-01-11 06:34] mbknor commented on #56
Closed in https://github.com/mbknor/mbknor-jackson-jsonSchema/pull/59

[2018-01-11 09:26] kog commented on #56
Er, #59 added `@NotBlank`, this is for `@NotEmpty`. You mind re-opening?

[2018-01-11 18:14] mbap commented on #58
Awesome thanks for the clear explanation.

[2018-01-12 07:38] kog commented on #56
Oh, I see... for some dumb reason I typo'd 59 into my git log for the last pull request. Doh. Oh well, PR is up for NotEmpty.

[2018-01-12 09:17] mbknor commented on #56
Closed in https://github.com/mbknor/mbknor-jackson-jsonSchema/pull/60

Included in release 1.0.28

[2018-01-12 09:17] #56 closed

[2018-01-12 14:16] ranchoiver opened #61 "Does this lib work correctly with Scala 2.12?"
Trying to generate a schema for following case class:

[code]

Using the code from the examples:
[code]

Result:
`{"$schema":"http://json-schema.org/draft-04/schema#","title":"Event","type":"object","additionalProperties":false,"properties":{}}`

No fields from case class are generated in the resulting JSON schema.

Am I doing anything wrong?

[2018-01-22 19:15] mbknor commented on #61
In order to use Jackson with Scala, you have to register the jackson-module-scala.

[2018-01-22 19:15] #61 closed

[2018-02-27 10:31] oshimko opened #62 "Multiple Types"
Hi!

Is there implementation for multiple types?
https://cswr.github.io/JsonSchema/spec/multiple_types/

Thanks!

[2018-02-28 01:17] mbknor commented on #62
Yes.

It supports all standard types and all custom app types  (pojo) with support for polymorphism.

[2018-02-28 01:17] #62 closed

[2018-02-28 15:38] AlexMALReis opened #63 "Title attribute being set to null when more than 2 definitions added"
Good afternoon.

I have the following pojo :

[code]
**DynamicCombo as following**

[code]
**And finally the generated json :**

[code]
As you can see the title attribute is not being set. The enum attribute is not being set either but I dont know the consequences.

Thanks in advance for any help.

[2018-03-02 14:20] paskos opened #64 "Dependency to too 'old' fast-classpath-scanner version 2.0.20 fails schema generation"
We're using mbknor-jackson-jsonschema_2.12 version 1.0.28

when asm 6.0 is in the classpath fast-classpath-scanner version 2.0.20 fails the schema generation with

[code]

It's a fixed bug in fast-classpath-scanner [issue #141](https://github.com/lukehutch/fast-classpath-scanner/issues/141)

[2018-03-15 23:11] #57 closed

[2018-03-15 23:36] mbknor commented on #63
This is strange.

This looks like this test, where I test Lists using polymorphism:

https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/cd36350315d6eef6d0d61542a8d16653d14b368b/src/test/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGeneratorTest.scala#L646

It gives the following schema - which, as you can see, correctly shows both title and enum:

[code]

If you still have this problem, I

[2018-03-15 23:56] #64 closed

[2018-03-16 00:00] mbknor commented on #64
version 1.0.29 released and on its way to maven central

[2018-03-16 12:58] waeljammal opened #65 "Does not work in Spring Boot 2"
Hi,

Tried running in spring boot 2 but get the following exception:

`java.lang.RuntimeException: Unknown constant pool tag [I@63d345a0 in classfile module-info.class (element size unknown, cannot continue reading class. Please report this on the FastClasspathScanner GitHub page.`

So I tried to change the fast classpath scanner to a newer verision however get this, which I guess is expected:

`C

[2018-03-16 13:12] waeljammal commented on #65
Found the issue, I was using jvers as well and so the newer version of classpath scanner was being loaded, excluding that from jvers made it all work for now.

[2018-04-11 05:59] #65 closed

[2018-04-11 06:01] mbknor commented on #63
Can you please follow up this one,  @AlexMALReis ? If not, I'll close it as not a bug ref my last comment

[2018-04-23 18:57] yetiCrocFire opened #66 "We do not support polymorphism using jsonTypeInfo.include() = WRAPPER_OBJECT"
Was just wondering if there were any plans in the road map to support other jsonType info's.  Would really love to use the WRAPPER_OBJECT.  Relevant code found [here](https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/v1.0.29/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L636-L640).

[2018-04-24 08:39] mbknor commented on #66
I'm not doing active development on this project, so I'm not going to add it myself, but if you supply a PR, I would gladly have a look at it and merge it

[2018-04-24 12:37] joshbthomp commented on #66
I'm not well versed in Scala.  If you had to guess the level of complexity
for implementation, how hard would you say it is?

On Tue, Apr 24, 2018 at 4:39 AM, Morten Kjetland <notifications@github.com>
wrote:

[2018-04-27 06:37] serdarozturk88 opened #67 "Very slow for first generation"
Hi,
In an spring boot application when i generate class schema for the first time, it takes too long(approximately 12-13 seconds) to create json schema string.

I wonder what is taking time(classpath scanning, some initialization code vs.)

Thanks

[2018-04-27 08:42] mbknor commented on #67
Hi,

This problem is caused by this line:

https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L22

It scans the entire classpath. An improvement would be to make this configruable.
A PR fixing this would be great 😀

[2018-04-27 10:48] serdarozturk88 commented on #67
Thanks for your answer.

Could you please give some details about this making configurable.

In which cases the entire classpath should be scanned ?
Should i filter the scan root or disable scan according to config?
İf we disable this which features won't work?

[2018-04-30 03:43] xenoterracide commented on #67
not the OP, but

none, not ever, bad idea, ask the developer to provide a package name from which to start scanning so you don't end up scanning every library ever, Possibly have an annotation (like spring boot does) to say where classpath scanning should start. Also possibly make it possible not to scan, instead simply provide a list of classes.

[2018-04-30 03:47] xenoterracide opened #68 "docs for java"
What library-ies  are needed to run this on just Java 8? which version should one use? I personally would rather not involve scala at all but I don't think that's a choice.

[2018-04-30 11:53] mbknor commented on #68
This project uses the Maven dependency management system. All needed dependencies are found in the pom file.

[2018-04-30 11:53] #68 closed

[2018-04-30 11:53] mbknor commented on #63
Not a bug

[2018-04-30 11:53] #63 closed

[2018-04-30 12:04] AScully24 opened #69 "JSONSchemaInject - Defining parent node"
First of, great library. It's been a pleasure to use.

The main issue I'm having is using @JSONSchemaInject to add form functionality that isn't supported yet (That I know if)

I am attempting to add support for "dependencies" for when the form is in a certain state, some fields will be hidden/shown.

My example follows this criteria:
 - If the enum value for "list" is "INPUT", I don't want any fi

[2018-05-31 06:03] abhijitkottur opened #70 "java.time.LocalDate with @Future javax.validation annotation"
The `@Future` annotation does't seem to have any effect on the json schema.

[code]
The generate schema looks like
[code]

Is there any other way to enforce date validation?

[2018-05-31 07:05] mbknor commented on #70
There is currently no support forjavax.validation.constraints.Future.

You have two choices:

1)
Send PR with added support for it.

2)
Use the @JsonSchemaInject-annotation to insert the schema-code you want.
https://github.com/mbknor/mbknor-jackson-jsonSchema#flexible

[2018-06-21 04:30] HybridHB opened #71 "[Help Wanted] Custom mapping doesnt work for collection types?"
Hello, Im having an issue where custom mapping doesnt seem to work for collection types. I have the following class in java and have added UUID to the custom map with value "uuid".

[code]

The output is
[code]

The problem is that I expect "format" : "uuid" to be a part of "items" for "manyIds". How do I get "format" : "uuid" associated with all uuid's in collection types? Any help would be appre

[2018-06-26 22:49] HybridHB commented on #71
Just wanted to follow up on this and say I figured it out. Before making the first post, I did try using injection and providers but neither would work for "manyIds". The problem was that the setter/getter function names for manyIds did not follow java convention and was annotated with @JsonProperty to get the desired field name. Simply fixing the function names enabled injections and providers to

[2018-06-26 22:49] #71 closed

[2018-07-21 02:28] ctippin opened #72 "All primitive types are marked as "required" in Schema regardless of JsonProperty(required=false} is set"
Given the following simple code:

[code]
The following output is created:
[code]
As you can see, both of the primitive fields "int1" and "bool1" are marked as required.

I found the following in the Scala source, which makes it look like this behavior is by design?  I would expect the JsonProperty(required=true/false) to be honored.  Any feedback or workaround would be appreciated.

[code]

Any fe

[2018-07-21 15:02] mbknor commented on #72
Hi,

It is like this "by design".

A primitive cannot NOT hold a value.

In your code, the property ** int1** will end up with the value **0**, if your exclude it from the json.

If you would like to allow NOT having a value, you should use **Integer** (with a capital **I**) instead. Then it will end up with **null**, if the value is missing. Or you could use Optional (java) or Option (Scala).

I

[2018-07-21 15:02] #72 closed

[2018-07-21 15:13] ctippin commented on #72
Ah I see,  it is a marshalling concern, which  makes sense.  Thanks for the quick response.

[2018-07-21 18:54] kog commented on #70
I actually thought about writing this as part of my earlier javax.validation contributions, but I don't think it's actually possible for v4 schema. I'm not exactly an expert on JSON schema, so if I've missed something, or someone knows how to do this, please do chime in.

Neither [JSON](http://json.org) nor the [json-schema-validation draft spec](https://tools.ietf.org/html/draft-handrews-json-sch

[2018-08-21 14:42] anton-batylin opened #73 "@JsonSchemaDefault does not allow float values"
Hi

@JsonSchemaDefault does not allow float values. It seems it tries to parse string as long:

https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/8c42ea75aaf6dd4826638c9231780061b00d95d7/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L485

Thanks.

[2018-08-26 19:18] classgraph-robot opened #74 "FastClasspathScanner is outdated -- consider porting to ClassGraph"
Your project, `mbknor/mbknor-jackson-jsonSchema`, depends on the outdated library FastClasspathScanner in the following source files:

* [`src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala`](https://github.com/mbknor/mbknor-jackson-jsonSchema/tree/master/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala)

FastClasspathScanner has been significantly rew

[2018-08-30 22:07] zrrobbins commented on #67
Yeah, this issue makes the library almost unusable for large projects, not only slowing things down to a crawl, but causing OOM failures.

[2018-08-31 07:06] mbknor commented on #67
I'm Not currently using this library on a daily basis anymore, but i'll try to get time to fix this

[2018-09-02 22:13] mbknor commented on #67
Any feedback on https://github.com/mbknor/mbknor-jackson-jsonSchema/pull/75 would be apreciated

[2018-09-08 18:26] ctippin opened #76 "Trouble with Java LocalDate"
Hello,

I am having an issue with handling fields of type LocalDate.  The resulting json is treating like an object and not {"type" : "string", "format" : "date"} as I had hoped.

Test code:
`public class SchemaTest {

    public static void main(String[] args) throws JsonProcessingException {
        ObjectMapper objectMapper = new ObjectMapper();
        JsonSchemaGenerator jsonSchemaGenerator =

[2018-09-10 18:13] kog commented on #76
Jackson doesn't support the new `java.time` types out of the box. There are a set of modules for Java 8 support at https://github.com/FasterXML/jackson-modules-java8. You're going to want to register **_at least_** the `JavaTimeModule` on your `ObjectMapper`.

That'll get you support for the Java 8 time types, but remember that Jackson defaults to numeric timestamps by default. If you'd like strin

[2018-09-10 19:53] ctippin commented on #76
Thank you!  That is exactly what I needed and I have verified that all is working as expected now.

[2018-09-10 19:53] #76 closed

[2018-09-22 14:58] #74 closed

[2018-09-22 14:59] mbknor commented on #67
Fixed in https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/5391586ad9309f5029dd5097cfe41ed9fc69701e

[2018-09-22 14:59] #67 closed

[2018-09-22 15:52] mbknor commented on #74
Fixed in version to 1.0.30

[2018-09-22 15:52] mbknor commented on #67
Fixed in version to 1.0.30

[2018-09-30 06:03] matejsp opened #77 "JsonSchemaGenerator rewrite to Java"
Current version of schema generator has a huge 5MB scala dependency attached to it. Would it be  feasible to rewrite it to the plain java. It's just one small class with 1.2k LoC. Our use case is to generate json schema in microservice and pass it to the orchestration mircoservice and it would add additional bloat on top of each microservice. It would also simplify the build because it would suppo

[2018-10-19 07:49] kermit-the-frog opened #78 "JsonTypeInfo.Id.MINIMAL_CLASS does not generate minimal class name"
Hi,

JsonTypeInfo.Id.MINIMAL_CLASS does not generate minimal class name. Instead it returns the very same class name as JsonTypeInfo.Id.CLASS.

Kind regards
kermit-the-frog

[2018-10-19 09:22] Hronom opened #79 "Add support for `BigDecimal`"
Please add support for converting `BigDecimal` and annotations `@DecimalMax` and `@DecimalMin` accordingly to add `minimum` and `maximum` in result JSON schema.

[2018-10-19 11:49] Hronom commented on #79
Added pull request for this and also fix for default value.
Please can you provide an estimate about then this will be in maven central?

[2018-10-21 18:29] #78 closed

[2018-10-21 18:51] mbknor commented on #79
Fixed in https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/a0aa0530be8285a15b7115c8173d7e1c306776f6

[2018-10-21 18:51] #79 closed

[2018-10-21 18:55] mbknor commented on #73
Fixed in https://github.com/mbknor/mbknor-jackson-jsonSchema/commit/a0aa0530be8285a15b7115c8173d7e1c306776f6

[2018-10-21 18:55] #73 closed

[2018-10-21 19:07] mbknor commented on #78
Included in version 1.0.31 which is just released

[2018-10-21 19:07] mbknor commented on #79
Included in version 1.0.31 which is just released

[2018-10-21 19:07] mbknor commented on #73
Included in version 1.0.31 which is just released

[2018-10-21 19:13] Hronom commented on #79
Thanks, very appreciated for so fast pushing!

[2018-10-31 16:46] AlexBroadbent opened #82 "Support multiple types in the items of an array"
There could be something already for this, but I cannot find something that gives the exact behaviour I am looking for.

After looking at some tests, the `classTypeReMapping` configuration property looks like it was doing something similar. Though this explicitly says that a base class can only be one of a given set. I am looking for something more flexible in that a single base class could be one

[2018-11-09 15:22] dherges opened #84 "generateJsonSchema(Pojo1.class, Pojo2.class)"
I have multiple POJos that reference each other.

Would it be possible to support giving multiple classes to generateJsoNSchema()?

[code]

---

[code]

???

[2018-11-13 11:44] dherges commented on #84
I should have better demonstrated my use case. I have a colleciton of domain classes. Some have relationships, other's don't. Example:

 - `Pojo1` -> `Pojo2`
 - `Pojo2`
 - `Pojo3` -> `Pojo2`

Now, if I generate the schema for all 3, I get a duplicated schema for `Pojo2`.

I could add a "virtual" holder of the domain world:

 - `Domain` -> `Pojo1`, `Pojo2`, `Pojo3`

and then `generateJsonSchema(Dom

[2018-11-14 10:07] AlexBroadbent commented on #84
Ah okay, I am no expert on the matter - but I suppose it depends what you are using the schema for exactly.

If you are just passing the domain around then a holder would make a lot more sense, as this would contain a definition per object - rather than having to pass around an entire schema per object.

Try wrapping them into a `Domain`, as you suggested, and see if it works for what you are tryi

[2018-11-14 10:22] AlexBroadbent commented on #82
To update the above "potential solution" with what I pushed:

### JsonSchemaArrayFilter

The annotation contains a list of classes permitted to be in an array; therefore, the annotation should be placed on a collection variable (such as a `List` or `Array`). This uses generics to restrict which implementations of a base class can be used within a collection.

### Use case

A base class:
[code]

Ca

[2018-11-16 16:03] AlexBroadbent opened #85 "Support multiple levels of inheritence through JsonTypeIdResolver"
A JSON schema cannot be produced for a class which has multiple levels of inheritance, when using the `@JsonTypeIdResolver` annotation (with a `CUSTOM` use `@JsonTypeInfo` annotation).

This is supported through the `@JsonSubTypes` annotation).

---

### Code to reproduce

Having a base class:
[code]

With extension classes:
[code]

[code]

And a TypeIdResolver to map our :
[code]

We get the expe

[2018-11-25 21:17] mbknor commented on #84
@AlexBroadbent is correct.

You need the "virtual" top domain-class which has pojo1, pojo2 and pojo3 as subTypes to be able to tell jackson ObjectMapper that you would like to parse the jsonString into on of the types.

[2018-11-25 21:17] #84 closed

[2019-01-11 16:18] luqasn commented on #78
This does not work for nested classes though :(

It produces `.InnerClassName` instead of the correct (wrt Jackson) `.OuterClassName$InnerClassName`. This is because Jackson uses the package bath of the parent class and strips it from the child class full name instead of taking the `simpleName`:
[code]
See https://github.com/FasterXML/jackson-databind/blob/master/src/main/java/com/fasterxml/jackso

[2019-01-11 16:23] mbknor commented on #78
Please open new ticket and feel free to produce PR

[2019-01-13 15:12] luqasn opened #87 "JsonTypeInfo.Id.MINIMAL_CLASS does not generate correct name for inner classes"
It produces `.InnerClassName` instead of the correct (wrt Jackson) `.OuterClassName$InnerClassName`. This is because Jackson uses the package bath of the parent class and strips it from the child class full name instead of taking the `simpleName`:
[code]
See https://github.com/FasterXML/jackson-databind/blob/master/src/main/java/com/fasterxml/jackson/databind/jsontype/impl/MinimalClassNameIdResolv

[2019-01-14 19:34] mbknor commented on #87
tx. I'm looking into it

[2019-01-17 14:00] lordvlad opened #88 "Handling NaN/extend injection mechanism"
We have different numeric fields in our objects, some of which allow NaN, some of which do not. Writing a schema by hand, it looks like this:
[code]

Any chance we could get this autogenerated? A more challenging example would be something like

[code]

[code]
Num is a custom bean validation annotation, with a validator that checks for NaN, infinity and min/max values.

Maybe we could have another

[2019-01-20 19:48] #87 closed

[2019-01-20 19:50] mbknor commented on #82
Closed -- See comments in https://github.com/mbknor/mbknor-jackson-jsonSchema/pull/83 for more info

[2019-01-20 19:50] #82 closed

[2019-01-20 20:15] mbknor commented on #87
Version 1.0.32 is released and on its way to maven central

[2019-02-11 23:31] ebolwidt-atlassian opened #90 "Option to create schema that allows unknown (additional) properties on objects"
In many projects, we configure Jackson to ignore unknown properties. This allows for easy schema migration and zero-downtime production rollout of small schema changes where new properties are added.

Currently, this would only be possible by annotating each and every type to inject "additionalProperties: true" instead of the default "additionalProperties: false" on all objects.

Having one flag i

[2019-02-12 22:34] mbknor commented on #90
Fixed in #89

[2019-02-12 22:34] #90 closed

[2019-03-01 00:05] abersnaze opened #91 "Support for examples annotation"
Draft 6 of the json schema add the ability to annotate schema with `examples`.

http://json-schema.org/draft-06/json-schema-release-notes.html

I'm suggesting adding a @JsonSchemaExamples(String[] values)

[2019-03-16 02:24] haynesgt opened #93 "SubTypeInfo property is not set with interface and mixin"
version: 1.0.33

With this test

[code]

In `myTestGood`, which doesn't use mixins, the `qualifierType` is present as expected.

In `myTestBad` you'll notice that the outputs for Child1 and Child2 are missing the `qualifierType` property, even though they inherit `Parent` and the right annotations are applied using a mixin.
Oddly, `Child3` has the wanted property.

Here is my test output:

GOOD
[c

[2019-03-27 20:29] mbknor commented on #91
PR merged.. thanks

[2019-03-27 20:29] #91 closed

[2019-05-01 18:14] ginccc opened #96 "Any plans to support newer drafts like the current 07 ?"

[2019-05-23 21:31] Paradyx opened #97 "Non-nullable parameter with default value is always required for Kotlin class"
[code]
The above code snippet generates the following schema
[code]

Expected schema:
[code]

After some research i found out, that the field is marked correctly as `not required` for Deserialization by the jackson-kotlin-module and `required` for Serialization, since the type is not nullable and must always exist during Serialization.

In my opinion, the JSON Schema Serialization should support t

[2019-06-25 10:21] TAKeanice opened #98 "Abstract type deserializer settings not taken into account"
If I have a class

[code]

the schema should take into account that the object cannot be deserialized without `someProperty` and mark it as "required". Currently it does not.

[2019-07-09 18:39] joshbthomp opened #99 "JsonSchemaInject merge = false"
Based on the documentation it seems I should be able to define my own schema on an object regardless on the attributes on it:

But based on what I am seeing, it seems the functionality either does not work as intended or I am doing something wrong.  I wrote a very simple unit test for which the applicable classes can be found below:
[SchemaGenerationTest](https://github.com/joshbthomp/test-schema/

[2019-07-23 20:00] pradeepsixer opened #100 "JsonSchemaTitle should be honored for sub types' title"
When `JsonSchemaTitle` is used with `JsonSubTypes`, the title from `JsonSchemaTitle` is set to `oneOf` references, but not on the subtypes themselves.

For example
[code]

In this, I'm expecting `#/definitions/SubType1/title` to be `ItsType1` rather than `type1`. Similar for `#/definitions/SubType2/title`

#### Sample Code:
* https://github.com/pradeepsixer/oss-issues/tree/mbknor_schema_title
* ht

[2019-10-17 08:14] jflefebvre06 opened #101 "Cannot use mbknor-jackson-jsonschema with JDK 11"
`requires mbknor.jackson.jsonschema.2.12;` is not valid

Could you please add module name to meta-inf

[2019-10-18 13:56] andrzejwiech opened #102 "JsonSchemaOptions"
JsonSchemaOptions annotation does not work for me. I added it on method:

[code]
No attribute was generated for me. Could do it over @JsonSchemaInject though. Am I doing it wrong?

[2019-10-22 16:04] robfletcher commented on #97
When I run this sample using the latest release of this library _all_ the fields are marked required. Here's the schema it outputs:
[code]

[2019-10-22 16:10] robfletcher commented on #97
This appears to be a regression with 1.0.34. When I go back to 1.0.33 I get this output:

[code]

[2019-10-22 17:08] robfletcher opened #103 "Nullable schema regression since 1.0.33"
The following test passed with 1.0.33 but fails with 1.0.34 and 1.0.35. It appears there has been a regression in the nullable schema functionality.

[code]

[2019-10-22 17:12] robfletcher commented on #103
This is the schema generated with 1.0.33 (test passing):

[code]

This is the schema generated with 1.0.34 (test failing):

[code]

[2019-10-22 17:15] robfletcher commented on #103
Even adding `@JsonProperty(required=false)` to the `nullableString` property results in the same thing so I think this is generally a regression in how optional/required properties are handled.

[2019-10-22 17:37] robfletcher opened #104 "EXTERNAL_PROPERTY type discriminator shows up in schema for implementations"
If I'm using `@JsonTypeInfo(include = As.EXTERNAL_PROPERTY)` the discriminator property should be a member of the container type but it shows up in the schema of each implementation. See failing test:

[code]

This is the schema that is generated:

[code]

[2019-10-29 10:03] manticorps opened #105 "Adding description field to @JsonSubTypes.Type"
When we use inherance of object, the field description is not set in the properties of the polymorphic object.

There is a minimal example

[code]

[code]

And the output :

[code]

I expect to have the field type with the content :
[code]

I have the feeling there is need to add some code on the polymorphic method (~line 955) to add the description.

[2019-11-07 14:53] NBau opened #106 "Wrong type Exception when changing the order of @JsonSubTypes annotation"
Thank you for the excellent library. Unfortunately I am having some trouble when using a more complex structure. Here is a minimal Example:

Given the following hierarchy:
[code]
[code]
[code]
the generator throws the exception `Wrong type - working on [simple type, class com.example.Pt] - got [simple type, class com.example.Abs]` when calling 'generator.generateJsonSchema(Loc.class);'

When chang

[2019-11-12 16:04] mbknor commented on #102
Have you looked at how it is used in this test?

Annotated code:
https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/test/scala/com/kjetland/jackson/jsonSchema/testDataScala/UsingJsonSchemaOptions.scala

And the test asserting that it works is here:
https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/test/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGeneratorTest

[2019-11-16 03:05] dvoloshyn opened #107 "Need an easy way to enrich the schema"
Hi,

It would be great if the generator accepted a hook similar to this:
fun enrichSchema(schema: JsonNode, prop: BeanProperty) as a substitution for ValidationConstraintResolver from the original jackson-module-jsonSchema, that could be used, for example, to enrich JSON schema with constraints from XSD.

Also, it would be great to have a way to generate IDs/names for types so that we don't get My

[2019-11-17 21:26] mbknor commented on #97
I've added support for writing tests using kotlin-code.

I've added testcase for the problem in this issue and I have removed the talked-about regression:

Now I only render *required* for the props: *required* and *optionalDefault*.

*mbknor-jackson-jsonSchema* relies on the "metadata" that jackson collects... When it comes to `val optionalDefault: String = "Hello"` it is up to *jackson-module-ko

[2019-11-17 21:26] #97 closed

[2019-11-17 21:53] mbknor commented on #103
I have tried to reproduce this but without any luck.

I get `"required": [
    "nonNullableString"
  ]` when I try with version 1.0.33, 1.0.34 and head.

This is where you find the existing tests covering this area: https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/master/src/test/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGeneratorTest.scala#L1076

[2019-11-17 21:53] #103 closed

[2019-11-17 21:58] mbknor commented on #85
If you are still interested in this problem, please provide PR where you add test-case (in the same way that other tests in this project are implemented) which fails.... This will make it more easy to investigate.

If not, I'll close this issue later

[2019-11-17 22:02] mbknor commented on #69
Too complicated feature-request. Please create PullRequest with sugested implementation if you are interested in getting it added.

[2019-11-17 22:02] #69 closed

[2019-11-17 22:05] mbknor commented on #88
To complicated feature-request. Please create PullRequest with suggested implementation if you are interested in getting the feature added.

[2019-11-17 22:05] #88 closed

[2019-11-18 03:08] rodesai opened #108 "feature request: use a definition for polymorphic base type"
Take the following example code:
[code]

When I run `testGenerator`, I get the following schema:
[code]
Notice that types for p1 and p2 both list out all the possible subclasses of `Parent` (`Child1`/`Child2`).

It would be nice if this could be moved to a definition and referenced where needed, e.g.:
[code]

[2019-11-18 20:55] mbknor commented on #98
Please provide test-case showing the problem.

[2019-11-18 21:36] #99 closed

[2019-11-18 21:38] mbknor commented on #100
Can you please create PR with test-case showing the problem-

[2019-11-18 21:39] mbknor commented on #101
I'm not sure what the the problem actually is. Please provide more info or PR with proposed changes

[2019-11-18 21:40] mbknor commented on #102
Closing due to lack of feedback from @andrzejwiech who submitted the issue

[2019-11-18 21:40] #102 closed

[2019-11-18 21:44] mbknor commented on #104
Can you please update the ticket with info about how you would expect the generated json-schema to look like?

[2019-11-18 21:48] mbknor commented on #105
Can you please supply how you would expect that the entire generated schema would look like?

[2019-11-18 21:48] mbknor commented on #105
This issue is possibly related to #104

[2019-11-18 21:59] mbknor commented on #106
If you create a PR with test-case showing the problem, I'll have a look at trying to fix it

[2019-11-18 22:03] mbknor commented on #107
Have you had a look at @JsonSchemaInject and the other ways of customising the generated schema?
If the existing customising-features are not sufficient, please provide more detailed info about what functionality you are looking for.

[2019-11-18 22:07] mbknor commented on #108
I can see that this would be better.  I'm tagging the issue and maybe I'll have a look at it

[2019-11-18 22:09] mbknor commented on #96
I'm not currently using this project in my day-to-day-work, so I do not have any need for draft 07.

But if you can highlight what the changes are (from 04 to 07), then maybe I'll have a look at it.

[2019-11-19 08:32] jflefebvre06 commented on #101
When working with JDK9 or highter and import non jdk9 artifacts, Jigsaw determine the module name of the jar like this :
* look into `META-INF/MANIFEST.MF` the `Automatic-Module-Name` (http://branchandbound.net/blog/java/2017/12/automatic-module-name/)
* if not provided determin the module name based on jar file name

In our case, the jar name is `mbknor-jackson-jsonschema_2.12-1.0.34.jar` but the

[2019-11-19 12:04] ginccc commented on #96
Best is to read "Migrating from older drafts" here: https://json-schema.org/specification.html

[2019-11-19 21:47] mbknor commented on #101
Thanks a lot for the detailed info.. Please have a look at the PR. Do you think this fixes the issue?

[2019-11-19 21:48] mbknor commented on #96
Thanks... I'll have a look at it

[2019-11-20 05:59] jflefebvre06 commented on #101
Yes your fix will work fine thanks

[2019-11-20 07:33] mbknor commented on #101
Thanks for checking.

[2019-11-20 07:33] #101 closed

[2019-11-20 08:13] mbknor commented on #101
I've released 1.0.36 and it is on its way to maven central

[2019-11-20 11:52] mbknor opened #111 "Add support for validationGroups when reading @ValidationAnnotations"
Should work for all `javax.validation.constraints`-annotations and @JsonSchemaInject

[2019-11-22 22:37] #111 closed

[2019-11-24 20:35] #96 closed

[2019-11-27 14:19] davidbarreto opened #112 "Generate $id in the schemas"
Hi folks!

I'm working in a project that generate JSON-Schemas from JAXB generated classes (that classes were generated from XSDs). So, I cannot change that classes. The XSDs describe some complex types with the same name and different content (in different XSDs). For that complex types, JAXB generates classes with same name, but package separated, based on XSD namespace. My JSON-Schemas are being

[2019-11-27 18:18] mbknor commented on #112
Are you generating jsonSchema using **mbknor-jackson-jsonSchema** ?
If yes, please provide simple example-pojos with generated schema, and sugestions about how you would like the schema to look like.

As of today the jsonSchema generated by mbknor-jackson-jsonSchema does not include/use id/$id but if you convince me, maybe I'll have a look at it.

[2019-12-09 09:18] manticorps commented on #105
Sorry for the delay, I have miss your response.

[code]

It's look like it's related to the issue #104 as it's sub-type informations who are missing.

[2020-01-22 09:41] NBau commented on #106
Hi, I noticed that this still has the `NeedMoreInfo` label. Is there something I can do to clarify the issue?

[2020-01-22 19:29] mbknor commented on #106
Hi, Please see my prev comment.. I want you to create a PR with a test-case showing the problem.

[2020-01-23 07:29] NBau commented on #106
Is my PR  #109 not sufficient? I am sorry, I tried to mimic the style of the other tests, but I am not sure how it is supposed to work,

[2020-01-29 17:12] marcospassos opened #113 "Providing a way to suppress "Not able to generate jsonSchema-info" in intentional cases"
It would be nice to have a way to suppress that message in cases where the value can be anything.

[2020-01-29 17:54] marcospassos opened #114 "Generator should exclude subtypes filtered by views"
Currently, the generator does not exclude subtypes filtered by views, exposing undesired details. Any subtype with a class-level view annotation should be excluded from the `oneOf` and `definitions`.

[2020-01-29 19:58] marcospassos opened #115 "The latest version does not include the draft option specified in the docs"
The latest version available on MVN repository does not include the support for specifying drafts mentioned in the docs.

[2020-02-13 11:00] mika91 commented on #107
Hi,

I have a use-case where extending the shcema would be usefull.
Until now we exported JSON schema Draft4 of all our persisted entities. (documentation and development portal needs)

A few sprints ago, we added a custom GDPR annotation

    // custom annotation to identify GDPR fields of persisted entities
    public @interface Gdpr {
        String value();
        String description() default

[2020-02-13 17:20] mika91 commented on #107
So I made some test coding this afternoon (my first time with scala ^^)

First I declared a new interface
    trait CustomNodeHandler {
      def apply(beanProperty: BeanProperty, objectNode: ObjectNode)
    }

Then add it as **JsonSchemaGenerator** and **MyJsonFormatVisitorWrapper** consturcor parameter (and forward it)
    class JsonSchemaGenerator
    (
      // ...
      customNodeHandler:Cust

[2020-02-28 09:49] tinesoft commented on #115
Any update on when this will be released?

[2020-03-03 08:54] afolgado opened #116 "JsonPropertyDescription is ignored in polymorphic classes when implemented via traits"
This is possibly related to #105

When using polymorphic classes, the annotation JsonPropertyDescription is ignored when they're implemented via traits. If I use abstract classes, it's working properly.

This is a minimal example. Given the classes:

[code]
The method:
[code]
outputs:
[code]
Please note that the "description field" is correctly transcribed to the schema. Now, if I use traits inste

[2020-03-04 09:50] afolgado commented on #116
As a workaround, it looks like adding "@JsonProperty('needsDescriptionField')" to the trait property solves the problem.

[2020-03-06 21:12] itzg opened #117 "Feature request: leverage defaultValue of @JsonProperty in place of @JsonSchemaDefault"
Currently I find that I have to declare a field's default three ways, but it sure would be nice to get that down to two since the `defaultValue` of `@JsonProperty` is always going to be exactly the same string as `value` of `@JsonSchemaDefault`, such as:

[code]

I would like to be able to use just:
[code]

with a resulting schema:
[code]

[2020-03-07 21:26] mbknor commented on #115
Version 1.0.37 has now been released and is on its way to maven central

[2020-03-07 21:26] #115 closed

[2020-03-07 21:26] #85 closed

[2020-03-07 21:27] #98 closed

[2020-03-07 21:32] #112 closed

[2020-03-07 21:33] mbknor commented on #113
You can suppress this warning my using setting turning on the config **disableWarnings**.

[2020-03-07 21:33] #113 closed

[2020-03-07 21:34] mbknor commented on #114
I know... I did some work on supporting views some time a go, But I did not finish it...
I'll see if I can have another look at it.

[2020-03-07 22:39] #117 closed

[2020-03-07 22:46] mbknor commented on #117
Included in version 1.0.38 released just now. It is on its way to maven central

[2020-03-11 18:16] francesc79 opened #118 "polymorphic type"
I have a situation explaned in:

https://stackoverflow.com/questions/24263904/deserializing-polymorphic-types-with-jackson/55333395#55333395

Which is the way for generate schema for Foo and Bar? Now not produce a schema.

[2020-03-23 11:44] francesc79 opened #119 "@JsonTypeInfo with defaultImpl in jsonschema the property is required"
If I annotate the super class with

@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, property = "test", defaultImpl = Test.class)

the test property is always required in jsonschema. In my opinion should not be required.

[2020-04-29 19:17] chris-brace opened #121 "Unclear how to use annotations to set "readOnly""
According to the spec there are bools for readOnly and writeOnly (https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.4) but @JsonProperty(access =...) does not seem to control this. I am aware that i could inject js as a string into the output but this strikes me as a basic feature the library should expose somehow.

[2020-05-05 08:30] Lewenhaupt opened #122 "JsonTypeName and JsonSchemaInject"
I have a use case where I would like to modify the part of the schema generated by the presence of JsonTypeName annotation. But I cannot seem to inject based on the path?

This is my current schema:
[code]

And this is what I want to achieve:
[code]
And I try to do it using `@JsonSchemaInject(
        bools = {
                @JsonSchemaBool(path = "properties/@type/ui/hidden", value = true)

[2020-05-05 09:08] Lewenhaupt commented on #122
I did some quick debugging and it appears that the @JsonSchemaInject on the class level is processed before the @JsonTypeName. Because of that, there are no properties yet. Is it possible that the properties I injected are later overwritten?

[2020-05-06 09:01] Lewenhaupt commented on #107
This would be an awesome feature!
We are using https://github.com/ncform/ncform to generate our forms in our Vue app and it provides a lot of additional functionality on top of standard JSON Schema. Instead of having to write big blobs of JSON with the JsonSchemaInject it would be awesome to be able to create our own annotations. Because the JSON blobs aren't very reusable sadly :/

[2020-05-06 09:02] Lewenhaupt commented on #107
@mika91 perhaps you could create a PR with your changes?

[2020-05-19 18:03] wmfowlkes opened #123 "Enum type being changed from integer to string"
I have a pojo with an enum with a value of type integer.  The schema generator is converting this to a string.  Any idea why this would be the case?  This is causing schema validation to fail at run time because of the discrepancy.

[2020-05-20 11:02] TAKeanice commented on #98
I am sorry that it took me so long to get back to you.
Today I recreated the issue I saw one year ago, and while I realized that there were some issues in the code above, the case is still valid with the current version of Java (14), Jackson (2.9.6) and jsonSchema (1.0.39).

Below you can find the working code of a fairly minimal example
[code]

[code]

When generating the json schema like so:
[co

[2020-05-24 12:23] mbknor commented on #123
Can you show me some example POJO-/Enum-code and explain how you would expect the schema to look like?

[2020-05-24 18:59] #122 closed

[2020-05-24 19:57] mbknor commented on #116
I have confirmed this problem using Scala.
(I'm not sure which language you refer to saying "Trait" because your example code does not look like Scala :))

This problem is not fixable in mbknor-jackson-jsonSchema. When looking for jackson-annotatations for a specific property, I use the Jackson-method com.fasterxml.jackson.databind.BeanProperty.getAnnotation().

This method does not return the @Js

[2020-05-24 19:57] #116 closed

[2020-06-17 10:15] tsjensen commented on #112
The [Spec](http://json-schema.org/understanding-json-schema/basics.html#declaring-a-unique-identifier) says every schema should have a `$id`.

Is there a workaround by which I can get it added to the generated schema?

[2020-06-18 16:30] tsjensen commented on #112
It seems one can inject a `$id` by adding this to the top POJO:
[code]

[2020-06-22 12:27] xiacheng opened #126 "Pattern (regex) is not supported?"
{
   "type": "string",
   "pattern": "^(\\([0-9]{3}\\))?[0-9]{3}-[0-9]{4}$"
}
Trying to add pattern field, and thought it could be good to leverage the jackson annotation
@JsonFormat

[2020-08-15 22:36] affanshahid opened #127 "Generate oneOf with string and number"
So I have a POJO which looks like:
[code]

I have specified `Object` as the type for `filterValue` but essentially I want the JSON schema to state that this field can either be a number or a string.

What configurations/annotations would achieve the following schema (without using Inject with raw json):

[code]

I would assume that the type would also need to be changed from `Object`.

[2020-08-24 10:19] Lewenhaupt commented on #122
@mbknor Is it possible to get a release that includes this?

[2020-08-24 15:33] Lewenhaupt opened #128 "JsonTypeIdResolver and polymorphism?"
Hi,

I have a big structure that I want to generate schema for and it includes a lot of interfaces/abstract classes. I'm using JsonTypeInfo to the a "@type" property added that I want to expose to my users so that they can decide which actual class will be used. The problem is that I can't get it to identify the actual subclasses implementing those interfactes/extending those abstract classes. I'v

[2020-08-25 07:14] Lewenhaupt commented on #128
Or I guess what I'm missing is the oneOf part that defines that it could be of any of the subtypes.

[2020-08-25 08:39] Lewenhaupt commented on #128
There appears to be some issue for this library when the JsonTypeInfo.Id is set to NAME as opposed to CUSTOM. Jackson can deal with this situation fine but this library has problems identifying subtypes when this happens.

[2020-08-25 08:39] #128 closed

[2020-10-08 20:01] stkleinbaum opened #129 "JsonSchema*-Annotations ignored in kotlin code"
Hey Morten,

thanks for this great library, but I have troubles to get it working in kotlin.

[code]

produces the json schema

[code]
but `minLength` and `maxLength` are not set.

Do you have an idea?

Best

[2020-10-21 09:17] AlbertGevorgyan opened #130 "Overwrite @type property"
I am using a configuration with classTypeReMapping where some classes are replaced with their subclasses with useful annotations. However, in the generated schema, the @type property for these classes is set to the subclass name rather than the constant defined in @JsonSubTypes.Type for the original type which would be more useful in my case. Is it possible to overwrite the @type property? I have

[2020-10-21 10:28] AlbertGevorgyan commented on #130
Was able to solve this using @JsonTypeName Jackson annotation.

[2020-10-21 10:28] #130 closed

[2020-10-28 13:02] pmihnea opened #131 "IDREF Xml Schema type is not mapped to 'string'"
I'm using mbknor-jackson-jsonschema_2.12 version 1.0.39 from Java with jdk-1.8.0_201
and Jackson 2.12.0-rc1.

I have the following two beans, generated from an XSD schema.
[code]
The JSON Schema generation tool creates such fragments:
[code]

And I expected such definition for the first element:
[code]

Is it correct my expectation?
I used also another generation tool that does that.
See https://w

[2020-10-28 16:57] pmihnea commented on #131
Adding the JsonSchemaInject annotation like below forces the tool to generate correctly the JSON schema.
[code]
Would be good to  enhance he tool to rely on these annotations and generate the correct type:
[code]
Thank you

[2020-11-12 16:24] almson opened #132 "Generating schema for deserialization"
Thank you for creating this library!

It seems that the way this library works is that it generates a schema for serialization. Ie, it looks at @JsonValue instead of @JsonCreator. Is it possible to have it generate schemas for deserialization?

Here is an example:

[code]

It must be compiled with Java 8, javac option `-parameters` and following dependencies:

[code]

The output is:

[code]

Note

[2020-12-13 09:46] almson commented on #72
@mbknor You're mistaken. "required" is not about what the Java code is doing, it's about what we expect from input and output documents. Jackson allows various patterns using setters, default values, tracking whether a field has been set, etc. (In particular I'm using `@Jacksonized @Builder` which exposes the setter pattern and default values.)

A setter which takes a primitive value is not requir

[2020-12-13 10:29] almson commented on #72
I don't want the schema generator to guess what is or isn't required. It should just follow `JsonProperty(required)`.

[2021-01-13 12:55] jannikolai opened #133 "@NotBlank annotations generates a pattern, which does not allow line breaks."
Just struggled with the pattern, which the `@NotBlank` annotation generates by default: `^.*\\S+.*$`.

The generated Schema is the following:
[code]
The following json object does not match this schema:
[code]

This is due to the fact, that this regex does not allow line breaks.

[2021-01-23 11:12] big-andy-coates commented on #126
Maybe not the cleanest, but you can achieve this via:

[code]

[2021-01-23 21:46] big-andy-coates opened #134 "Sub type resolving using ClassGraph doesn't work for interfaces"
Version: 1.0.39

Given an interface type and one or more impls:

[code]

Generating a schema for either `BaseType` or anther type with a `BaseType` property does invoke ClassPath to find the subtypes, but calls `getSubclasses`, where as it should be calling `getClassesImplementing` if the base type is an interface. This means it fails to find the implementations and the created schema is incorrect

[2021-01-23 23:10] big-andy-coates opened #137 "Provide callback to user code before trying to resolve `@JsonTypeInfo` types"
A callback would allow users to be notified a polymorphic type was about to be resolved.

This can be useful to allow the calling code to perform some operation, e.g. dynamically register the required subtypes if they haven't been registered already.

[2021-01-24 00:05] big-andy-coates commented on #132
Hey @almson, sorry to say that the property name comes from Jackson, and not from the code in this repo.  The code implements `JsonObjectFormatVisitor` to get hold of all the properties, as Jackson sees things, for a given type.

So I'm afraid what you're asking isn't possible. This question would need to be asked against the Jackson databind project.

[2021-01-24 00:15] big-andy-coates commented on #129
Not sure, for what its worth, I added your annotations to the `KotlinWithDefaultValues` type in the repo:

[code]

...and the schema was as expected:

[code]

Have you tried the latest version of the library?

[2021-01-24 00:19] big-andy-coates commented on #127
To get the schema to generate correctly all you should need is:

[code]

Of course, Jackson wouldn't be able to deserialise any data without more info, but the schema would be as you need.

[2021-02-06 07:52] zuozhiw commented on #107
Hi, thank you for this great library. It will be great if some callback functions can be registered during the generation process. We are currently using `@JsonSchemaInject` and we still feel defining a custom function would be convienent. Here are some use cases:

Using JsonSchemaInject, we have to write long JSON strings. We would like to avoid writing identical or similar raw JSON strings in ma

[2021-02-09 00:21] azakordonets opened #140 "How to allow additionalProperties ?"
I'm trying to use your library to generate JSON schema's and so far it works great - thanks for the lib. I have one problem that i can't figure out - i would like to allow additionalProperties in my schema, but disabling `FAIL_ON_UNKNOWN_PROPERTIES` option in ObjectMapper doesn't help :
[code]
Results in
[code]

Example of pojo:
[code]

[2021-02-09 17:36] azakordonets commented on #140
I managed to find a solution :

[code]

Again, thanks a lot for a great library 🙇‍♂️👍

[2021-02-09 17:36] #140 closed

[2021-02-09 21:30] #134 closed

[2021-02-09 21:33] mbknor commented on #134
I've merged your PR fixing this issue

[2021-02-11 14:02] juliobetta opened #141 "Title generated incorrectly for `propertyName`s with capitalized initials"
https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/e370f80d5dd20eb9396455ab2ddfd7083d0e25fb/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L1367

Examples:
* `IDref` -> `I Dref`, should be `ID ref`
* `CondenserPlantIDs` -> `Condenser Plant I Ds`, should be `Condenser Plant IDs`
* [scalafiddle](https://scalafiddle.io/sf/DUT3gxk/0) with more examples

[2021-02-25 13:11] JoeryH opened #142 "@JsonProperty(required = false) is ignored"
I am using Kotlin, but I think this applies to all languages:

[code]

The resulting shema will include this field as required, effectively ignoring the annotation.

[2021-03-02 06:34] orange-buffalo opened #143 "Polymorphic types using property definitions"
Jackson allows to define polymorphic types definitions on the properties:
[code]
When generating a schema for `Container` from the example above:
[code]
this type information is not used and `oneOf` is not generated:
[code]
I would expect the schema to look like this (similarly to what is generated when `@JsonSubTypes` is used on a class level):
[code]

[2021-03-09 19:18] kascaks commented on #73
Hi
seems like this has been reintroduced again.
This does not work
`@JsonSchemaDefault("0.6")
private double value;`
https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/e370f80d5dd20eb9396455ab2ddfd7083d0e25fb/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L674
https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/e370f80d5dd20eb9396455ab2ddfd7083d0e25fb/src/main/

[2021-03-20 17:47] AScully24 commented on #129
Long time since you posted the original issue, but thought this may help others who land here.

Have you tried prepending "@field:JsonSchemaInject"?

[code]

Kotlin's generates getters and setters under the hood at compile time, so it's better to be explicit with intent or you may not get the results you want.

[2021-05-18 15:28] huehnerlady opened #144 "Do not inline enum class"
Hi,

I am trying to generate a schema from my classes. so far I do like the feel of this library, but I did run into a problem which would prevent me actually using it: The enum classes get inlined instead of separated.
I saw that this was already asked in https://github.com/mbknor/mbknor-jackson-jsonSchema/issues/11, but seemed to have been closed without fixing it?

It was asked for a Valid json

[2021-06-04 09:11] alessiostalla commented on #106
I have the same issue.

[2021-07-09 16:58] Niskaru opened #146 "JsonNullable is generated incorrectly"
Hi,

I found an issue when I am using org.openapitools.jackson.nullable.**JsonNullable**.
The generator completely ignores the original class.

Here is my case:
I have these 3 classes that are auto generated and I can't change

[code]

[code]

[code]

This is my **code**:

[code]

When I run it generates a json schema that looks like this:

[code]

As you can see it generated the same schema for b

[2021-07-13 08:19] alessiostalla opened #147 "Support concrete base class in polymorphic types"
[code]

Currently, Parent is treated as it was abstract i.e. if only Child can appear as a node.

[2021-08-05 07:44] msmsimondean commented on #123
Hi @mbknor.  Here's a minimal example for this issue.  At least it shows how I'm encountering the issue.  The unit test is the example would be expected to pass - based on the new functionality I'm hoping for - but it fails saying "string" is not equal to "integer"

https://github.com/msmsimondean/mbknor-jackson-jsonSchema-issue-123-example

[2021-08-23 21:22] richturner commented on #147
Would be great to see this included

[2021-08-23 21:33] richturner opened #149 "Polymorphic `const` support rather than single item `enum`"
Would be great to have a configuration option to output `const` values rather than single value `enum` for `type` property of sub types.

[2021-08-25 09:58] richturner commented on #23
Not Sure this is correct. If type is missing then no type should be inferred and instead the property could be any type. Admittedly the presence of `additionalProperties` infers a type of `object` but I think for correctness it should be included.

[2021-09-06 11:35] ctzen opened #150 "Any way to ignore @Deprecated fields when generating schema?"
Hi,

Can generateJsonSchema(class) be configured to ignore fields annotated as @Deprecated?

The use case is @Deprecated fields are not removed for backward compatibility but we do not want them to show up in the JSON schema.

[2021-10-31 09:20] almson commented on #73
1.0.37 is the last version to work

[2021-10-31 09:25] almson commented on #142
Possible duplicate of https://github.com/mbknor/mbknor-jackson-jsonSchema/issues/132

Not sure about Kotlin and `val`, but similar thing happens for non-boxed primitives. Basically this field is always present when you're serializing an object, but optional when deserializing. Unfortunately, there's no way to tell jsonSchema which kind of schema you're looking for.

[2021-10-31 09:41] almson opened #152 "@JsonProperty(defaultValue="...") does not allow float/double values"
Title is self-explanatory, more details here https://github.com/mbknor/mbknor-jackson-jsonSchema/issues/73#issuecomment-794332684

[2021-10-31 10:19] almson commented on #152
I changed https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/e370f80d5dd20eb9396455ab2ddfd7083d0e25fb/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala#L703 to `node.put("default", value.toDouble)` and things work. Doubles are doubles and ints are ints. FYI, a double can represent all ints exactly and most longs, up to 2^53. There would be problems however if the defau

[2021-11-10 17:52] almson commented on #132
Hmm, I'm not sure about the foo/boo name issue, but the assumption that the schema is for reading serialized objects (instead of writing json that will be deserialized) is pervasive in the code. For example, in these lines it is assumed that primitives are always required.

https://github.com/mbknor/mbknor-jackson-jsonSchema/blob/e370f80d5dd20eb9396455ab2ddfd7083d0e25fb/src/main/scala/com/kjetland

[2021-11-11 14:19] richturner commented on #100
Is there any progress/update on this. I've noticed that `@JsonSchemaTitle` annotations on classes are only output on the `$ref` and not in the referenced schema itself; I could understand this if `@JsonSchemaTitle` is added to a property/field but doesn't seem right when used at the class level.

[2021-11-11 22:58] richturner commented on #100
@mbknor Just added a pull request to fix this issue; it includes a test and I also added a new config option to disable `title` output on `$ref` schema.

I don't believe there is a good reason for them to be output there but rather than remove them completely I added this config option to maintain existing behaviour.

[2021-11-13 01:33] robzienert opened #154 "Support generating multiple files instead of nesting in definitions"
I have a use case where I'm generating schema files from a Java module, of which many of the classes share common property types. Instead of generating a massive schema file for each root class with a list of `definitions` sub-schemas, I want to be able to generate each type to its own file and reference these types.

For this to work, I'd expect that the generator could either be provided a `$id`

[2022-01-12 15:42] almson opened #160 "Rewrite in Java, drop Scala dependencies"
This thing being written in Scala is a problem:

  - a bunch of extra dependencies
  - difficulty in making contributions

This library would be better if it was written in Java. To that end, I've went ahead and made a conversion.

[2022-01-21 07:55] leccyril opened #161 "anyOf not working with array and nullableJsonSchemaDraft4"
i use your code to create jsonSchema to then validate another json but it doe'snt work any idea ?

`            ObjectMapper objectMapper = new ObjectMapper();
            //JsonSchemaGenerator jsonSchemaGenerator = new JsonSchemaGenerator(objectMapper);
            JsonSchemaConfig config = JsonSchemaConfig.nullableJsonSchemaDraft4().withJsonSchemaDraft(JsonSchemaDraft.DRAFT_04);
            Json

[2022-01-25 10:39] #161 closed, assigned to nobody

[2022-01-25 10:52] leccyril opened #162 "CVE dependancies security breaches (Kotlin, jackson databind)"
We are using your great lib, but unfortunately there is 2 breaches, one CVE is directly available on mavenrepository website about jackson databind version

![image](https://user-images.githubusercontent.com/3234598/150963282-1af488b3-4970-4e99-93d3-7202491c3b37.png)

and the other is about kotlin version, currently you import version 1.3.5 but we are now in 1.6

![image](https://user-images.githu

[2022-02-02 02:14] fdutton commented on #160
I agree that this project should be rewritten in Java. I also encountered difficulties with its use of Scala. Mainly with the conflicts created with other libraries that also use Scala but use different versions.

I think you are unlikely to succeed in this request given that you are asking this project to not only switch languages but also adopt Java 17. There are many clients of this project tha

[2022-02-02 11:04] almson commented on #160
@fdutton Java version is not a big deal. I wanted to see if there's interest. If so, feel free to participate in my repo.

[2022-02-04 01:46] chrisguiney opened #163 "Support for generating a file per class"
It'd be great if I'd be able to generate a file per class without duplicating class definitions --

that is, instead of referencing any classes used for properties in the `definitions` clause, instead allow referencing them by filename.

For example, see this schema:
[code]

where `Bar.json` would be another schema in the same directory.

I'm not incredibly familiar with scala, but I'm happy to gi

[2022-02-13 22:12] jcrayner opened #164 "Proper handling of Polymorphic types when JsonTypeInfo.Id is DEDUCTION"
Schema generation for polymorphic types where the deserialisation strategy is of JsonTypeInfo.Id.DEDUCTION. Jackson uses a seralization strategy of JsonTypeInfo.Id.EXISTING_PROPERTY with a visibility of false and a null property name when writing polymorphic types such as this. The existing implementation relies on a property name being non-null with it's polymorphic type handling (when writing ou

[2022-03-10 12:47] theseeker58 opened #166 "Support for restrictions in local definitions instead of in-lined"
I have an xsd schema that features many complexTypes like this

[code]

where Max35Text is just a referenced simpleType based on xs:string with some restrictions

[code]

xjc, wrapped in jaxb2-maven-plugin, automatically generates a GroupHeader78 Class where, for example, the mentioned property msgId is a String, annotated with Bean Validation @Size(min = 1, max = 35) thanks to -XJsr303Annotations

[2022-03-10 18:38] theseeker58 opened #167 "JaxbAnnotationModule and PropertyNamingStrategy conflicts"
I don't know it it's a feature or a bug, but after registering JaxbAnnotationModule to the ObjectMapper
`mapper.registerModule(new JaxbAnnotationModule());`
setting PropertynamingStrategy different from LowerCamelCase
`mapper.setPropertyNamingStrategy(PropertyNamingStrategies.SNAKE_CASE);`
is definitely ignored. Only default LOWER_CAMEL_CASE works.
If I remove JaxbAnnotationModule I can successful

[2022-03-10 20:12] theseeker58 commented on #167
Found the solution!
after adding JaxbAnnotationModule, if you still want to set propertyNamingStrategy you have to enable the MapperFeature ALLOW_EXPLICIT_PROPERTY_RENAMING.
Unfortunately I had to refactor my code since enable(MapperFeature) is deprecated on ObjectMapper. I used a subclass named JsonMapper. Here is the code.
[code]
Just to share with other guys who come across this problem.
Cheers

[2022-03-11 09:12] theseeker58 commented on #166
Found a solution!
setting true mapSimpleTypeDef (default is false) in jaxb:globalBindings did the trick
    `<jaxb:globalBindings  mapSimpleTypeDef="true">`
Map35Text and other simpleType declarations like that are generated as Class by xjc with a value string property with restrictions.
Therefore jsonSchema generates
[code]
I'd have preferred this simpler form without the value property
[code]
bu

[2022-05-30 19:47] abhishiv opened #170 "Generation throws java.lang.NoClassDefFoundError: javax/validation/constraints/NotBlank"
Hello,

trying to compile a simple example throws this error and I can't figure out what's the issue.

[code]

[2022-05-31 22:18] abhishiv commented on #170
My mistake - adding validation-api fixed it

[code]

[2022-05-31 22:18] #170 closed, assigned to nobody

[2022-08-04 12:28] JoergSiebahn opened #171 "How to document type properties used for polymorphism?"
Hi,

when I have a polymorphic class and add `@JsonSchemaDescription` at the visible type property, the description is ignored and not put in the Schema.

While generating the schema, I see this log (thanks for that,  guess it saved some hours of research):

[code]

Here is a simple example to reproduce:

[code]

I get JSON Schema for the two subtypes like this:

[code]

So my description is missi

[2022-10-25 13:02] stellingsimon commented on #144
This is causing problems for our use cases, too. So far we've been able to revert the undesired behaviour in a wrapper for the generator, but now we stumbled across a use-case which cannot be fixed externally.

Consider the following example:
[code]

should generate

[code]

but generates

[code]